<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<div>
    <div th:if="${companyLogin.isPresent()}">
        <h2>Xin chào company: <span th:text="${companyLogin.get().getName()}"></span></h2>
        Đăng job mới: <a th:href="@{/insertJob(id=${companyLogin.get().getId()})}">Post a new job</a>
        <br>
        Xem các job đã đăng: <a th:href="@{/listJobByCompany(id=${companyLogin.get().getId()})}">My jobs</a>

    </div>
    <div th:if="${candidateLogin.isPresent()}">
        <h2>Xin chào can: <span th:text="${candidateLogin.get().getFullName()}"></span></h2>
        Job phù hợp: <a th:href="@{/getJobByCan(id=${candidateLogin.get().getId()})}">View suitable job</a>

    </div>
</div>


</body>
</html>